body {
    color: #ffffff;
    font-size: 24px;
    background-image: url(Porsche\ 911\ GT3\ \(1920x1080\).jpg)
}

input[type="button"] {
    background-color: rgba(39, 125, 115, 0.558);
    color: #fff;
    border: none;
    padding: 10px 40px;
    font-size: 25px;
    cursor: pointer;
    margin: 10px;
}

div {
    width: 1100px;
    height: 60px;
    margin-left: 644px;
    font-size: 160%;
}

#num1 {
   background-color: #ffffffb9;
   font-size: 55%;
}

#num2 {
    background-color: #ffffffb9;
    font-size: 55%;
}

#result{
    font-size: 55%;
}